<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--導入css-->
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css">
    <style>
        .blank_a {
            padding-top: 10px;
        }
    </style>
</head>
<body>

<div class="container blank_a">
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>圖片</th>
                <th>標題</th>
                <th>多久前上傳</th>
                <th>大綱</th>
                <th>詳細內容</th>
            </tr>
            </thead>
            <tbody id="tb">
            {% for new in news_list %}
            <tr nid="{{ new.id }}">
                <td na='img_url'><img src='{{ new.img_url }}'></td>
                <td na="title">{{ new.title }}</td>
                <td na="hour_ago">{{ new.hour_ago }}</td>
                <td na="outline">{{ new.outline }}</td>
                <td>
                    <a class="btn btn-default" href="/content?nid={{ new.id }}" role="button">跳轉</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


</body>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.js"></script>
</html>